[core]
  editor = vim
[user]
  name = kanetann
  email = kanetann@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  s = status
  ps = push
  pl = pull
  a = add
  c = commit
  l = log
  d = diff

  st = status
  sh = show
  so = remote show origin
  ft = fetch
  up = pull --rebase       
  po = push origin         
  pof = push -f origin     
  pu = push -u origin      
  rbm = rebase master      
  ad = add
  ci = commit -a           
  cam = commit -a --amend  
  co = checkout
  cb = checkout -b         
  ct = checkout --track    
  cm = checkout master
  br = branch
  ba = branch -a           
  bm = branch --merged     
  bn = branch --no-merged  
  bo = branch -r           
  wc = whatchanged         
  ls = log --stat          
  lp = log -p              
  la = log --pretty=\"format:%ad %h (%an): %s\" --date=short 
  lr = log origin         
  oneline = log --pretty=oneline
  ranking = shortlog -s -n --no-merges
  log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  rhs  = reset --soft HEAD
  rhs1 = reset --soft HEAD~
  rhs2 = reset --soft HEAD~~
  rhs3 = reset --soft HEAD~~~
  rhs4 = reset --soft HEAD~~~~
  rhs5 = reset --soft HEAD~~~~~
  rhh  = reset --hard HEAD       
  rhh1 = reset --hard HEAD~
  rhh2 = reset --hard HEAD~~
  rhh3 = reset --hard HEAD~~~
  rhh4 = reset --hard HEAD~~~~
  rhh5 = reset --hard HEAD~~~~~
  di = diff
  dm = diff master           
  dw = diff --color-words    
  dc = diff --cached         
  ds = diff --staged         
  d1 = diff HEAD~            
  d2 = diff HEAD~~           
  d3 = diff HEAD~~~          
  d4 = diff HEAD~~~~         
  d5 = diff HEAD~~~~~        
  d10 = diff HEAD~~~~~~~~~~  

  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"

  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  delete-unmerged =  "!f() { git ls-files --deleted | cut -f2 | sort -u ; }; git rm `f`"
  gr = grep
  gn = grep -n
  sm = submodule
  smupdate = submodule foreach "git checkout master; git pull origin master"
  cmpl = "git checkout master; git pull origin master"
  cdpl = "git checkout develop; git pull origin develop"

  sl = stash list
  sp = stash pop
  ss = stash save

  chpk = cherry-pick
[http]
  sslVerify = false
