set clipboard=unnamed
set ignorecase
set smartcase
set incsearch
set hlsearch
set showmatch
set showcmd
set display=lastline


" Home row beginning / end of line
noremap <C-h> ^
noremap <C-l> $

" Previous / next word
noremap <C-k> #
noremap <C-j> *

" Yank to end of line
nnoremap Y y$

vnoremap v $

" From :actionlist
" nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
" nnoremap <C-r> :action DebugClass<CR>
" nnoremap <C-e> :action GotoRelated<CR>
