<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>082DE1CD-371B-45ED-AFC3-A0E6071375C5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>l</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>l</string>
			<key>url</key>
			<string>http://localhost:3000/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1AAED3CA-8C19-4097-ABFE-969A5CEF4B4E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gy</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>gy</string>
			<key>url</key>
			<string>https://www.google.co.jp/search?q={query}&amp;amp;tbs=qdr:y</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2843CE3B-4386-44C8-B638-7D9A502F36F1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rubytoolbox</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>rubytoolbox</string>
			<key>url</key>
			<string>https://www.ruby-toolbox.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5C2527AA-AA00-476A-9E28-FE56EBD36C35</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rails</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>rails</string>
			<key>url</key>
			<string>http://api.rubyonrails.org/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C87C1C74-8969-4F7D-99E3-538530B0B906</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>alc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>alc</string>
			<key>url</key>
			<string>http://eow.alc.co.jp/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
